@charset "UTF-8";
body {
  padding: 35px;
  font-family: "Inter", sans-serif;
  color: #00194C; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

/* text */
.container {
  width: 540px; }

.titles {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600; }

.h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px; }

.h2 {
  font-size: 28px;
  line-height: 36px; }

.h3 {
  font-size: 22px;
  line-height: 30px; }

.h4 {
  font-size: 20px;
  line-height: 28px; }

.h5 {
  font-size: 18px;
  line-height: 26px; }

.h6 {
  font-size: 16px;
  line-height: 24px; }

.p1 {
  font-size: 20px;
  line-height: 28px; }

.p2 {
  font-size: 18px;
  line-height: 26px; }

.p3 {
  font-size: 16px;
  line-height: 24px; }

.p4 {
  font-size: 14px;
  line-height: 22px; }

/* кольори разом з опасіті */
.colors {
  width: 130px;
  height: 130px;
  margin: 20px; }

.orange {
  background: #fe9526; }

.blue {
  background: #0052ff; }

.yellow {
  background: #ffcb2f; }

.green {
  background: #53d86a; }

.red {
  background: #ff3434; }

/* тіні */
.shadows {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background: #F2F2F2;
  margin: 20px; }

.shadowBottomInset {
  box-shadow: inset 0px -1px 0px #EAEAEA; }

.shadowTopInset {
  box-shadow: inset 0px 1px 0px #EAEAEA; }

.shadowBottom1 {
  box-shadow: 0px 2px 10px rgba(25, 1, 52, 0.12); }

.shadowTop1 {
  box-shadow: 0px -2px 10px rgba(25, 1, 52, 0.12); }

.shadowBottom2 {
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16); }

.shadowTop2 {
  box-shadow: 0px -4px 10px rgba(25, 1, 52, 0.16); }

/* button */
.button {
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  background: #0052ff;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  outline: none; }
  .button:hover {
    background-color: #4d86ff; }

.buttonPrimaryLeftIcon {
  text-align: center; }

.buttonPrimaryLeftIcon .vectorLeft {
  width: 14px;
  height: 14px;
  margin-right: 11px; }

.buttonGhost {
  border: 1px solid #0052ff;
  background-color: #FFFFFF;
  color: #0052ff; }
  .buttonGhost:hover, .buttonGhost:focus {
    background: #e6eeff;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16); }

.buttonGhostLeftIcon {
  text-align: center; }
  .buttonGhostLeftIcon:hover {
    border-color: transparent; }

.buttonGhostLeftIcon .vectorLeft {
  width: 14px;
  height: 14px;
  margin-right: 11px; }

.buttonGhostRightIcon .vectorLeft {
  transform: rotate(180deg);
  width: 14px;
  height: 14px;
  margin-left: 11px; }
  .buttonGhostRightIcon .vectorLeft:hover, .buttonGhostRightIcon .vectorLeft:focus {
    border-color: transparent; }

/* input */
.input {
  padding: 14px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 320px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  box-sizing: border-box; }
  .input:focus, .input:hover {
    outline: none;
    border: 1px solid #0052ff; }

.btnIcon {
  display: inline-block;
  position: relative; }
  .btnIcon::before {
    position: absolute;
    top: 16px;
    right: 22px;
    content: "";
    display: block;
    width: 16px;
    height: 18px;
    background-size: 16px 18px;
    background-image: url("./Icons/eyeOff.svg");
    background-repeat: no-repeat; }

.rightIcon {
  padding-left: 52px; }

.btnIcon2 {
  display: inline-block;
  position: relative; }
  .btnIcon2::before {
    position: absolute;
    top: 16px;
    left: 22px;
    content: "";
    display: block;
    width: 16px;
    height: 18px;
    background-size: 16px 18px;
    background-image: url("./Icons/person.svg");
    background-repeat: no-repeat; }

.leftIcon {
  padding-right: 52px; }

/* Dropdown */
.dropdown {
  position: relative;
  width: 325px;
  height: 232px; }

.dropButton {
  text-decoration: none;
  position: relative;
  border: 1px solid #0052ff;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
  width: 325px;
  height: 54px;
  color: #0052ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 23px;
  padding-right: 50px;
  cursor: pointer; }
  .dropButton:focus {
    outline: none; }
  .dropButton span {
    position: absolute;
    height: 6px;
    width: 12px;
    right: 23px;
    top: 16px; }

.down {
  height: 54px;
  width: 325px;
  background: #FFFFFF;
  border-radius: 4px 4px 0px 0px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 16px 271px 16px 24px;
  border: 1px solid rgba(0, 82, 255, 0.08); }

.dropdownContent {
  background: #C4C4C4;
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
  margin-top: 16px; }

.contentFirst {
  border-radius: 4px 4px 0px 0px; }

.contentSecond {
  border-radius: 0px; }

.contentThird {
  border-radius: 0px 0px 4px 4px; }

/* 
    checkbox 
*/
.checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid #0052ff;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: relative; }
  .checkbox span {
    width: 100%;
    display: none;
    position: absolute;
    line-height: 23px;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 1; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer; }
    .checkbox input:checked + span {
      display: block;
      background-color: #0052ff; }

.radio {
  margin: 40px;
  margin-left: 0px;
  position: relative;
  background-color: #FFFFFF;
  border: 2px solid #0052ff;
  border-radius: 50%;
  width: 24px;
  height: 24px; }
  .radio input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer; }
    .radio input:checked + span {
      position: absolute;
      width: 14px;
      height: 14px;
      display: block;
      background-color: #0052ff;
      border-radius: 50%;
      /* left: 3px;
      top: 3px; */
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.switch {
  position: relative;
  height: 28px;
  width: 48px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #FFFFFF; }
  .switch span {
    width: 24px;
    height: 24px;
    background: #E6EEFF;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    transition: all 0.3s; }
  .switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    cursor: pointer; }
    .switch input:checked + span {
      right: 1px;
      left: auto;
      background-color: #0052ff; }

/*# sourceMappingURL=output.css.map */
