:root {
    --Secondary: 254, 149, 38;
    --Primary: 0, 82, 255;
    --Info: 255, 203, 47;
    --Success: 83, 216, 106;
    --Error: 255, 52, 52;
    --sh1: inset 0px -1px 0px #EAEAEA;
    --sh2: inset 0px 1px 0px #EAEAEA;
    --sh3: 0px 2px 10px rgba(25, 1, 52, 0.12);
    --sh4: 0px -2px 10px rgba(25, 1, 52, 0.12);
    --sh5: 0px 4px 10px rgba(1, 21, 52, 0.16);
    --sh6: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

body {
    padding: 50px;
}

* {
    box-sizing: border-box;
}

.inter {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    color: #00194C;
    font-weight: 600;
}

.sf {
    font-family: "SF Pro Display";
    font-style: normal;
    display: flex;
    align-items: center;
    color: #00194C;
    font-weight: 600;
}

h1 {
    width: 540px;
    height: 84px;
    font-size: 32px;
    line-height: 42px;
}

h2 {
    width: 540px;
    height: 72px;
    font-size: 28px;
    line-height: 36px;
}

h3 {
    width: 540px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
}

h4 {
    width: 540px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
}

h5 {
    width: 540px;
    height: 26px;
    font-size: 18px;
    line-height: 26px;
}

h6 {
    width: 540px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #00194C;
}

.p1 {
    width: 540px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
}

.p2 {
    width: 540px;
    height: 26px;
    font-size: 18px;
    line-height: 26px;
}

.p3 {
    width: 540px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.p4 {
    width: 540px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}


/* кольори разом з опасіті */

.colorsbox {
    width: 130px;
    height: 130px;
    margin: 20px;
}

.d1 {
    background: rgba(var(--Secondary), 1);
}

.d2 {
    background: rgba(var(--Primary), 1);
}

.d3 {
    background: rgba(var(--Info), 1);
}

.d4 {
    background: rgba(var(--Success), 1);
}

.d5 {
    background: rgba(var(--Error), 1);
}


/* тіні */

.shadowbox {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background: #F2F2F2;
    margin: 20px;
}

.shadow1 {
    box-shadow: var(--sh1);
}

.shadow2 {
    box-shadow: var(--sh2);
}

.shadow3 {
    box-shadow: var(--sh3);
}

.shadow4 {
    box-shadow: var(--sh4);
}

.shadow5 {
    box-shadow: var(--sh5);
}

.shadow6 {
    box-shadow: var(--sh6);
}


/* button */

.button {
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 82, 255, 1);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    outline: none;
}

.button:hover {
    background-color: rgba(77, 134, 255, 1);
}

.button__primary--left-icon {
    text-align: center;
}

.button__primary--left-icon .vector-left {
    width: 14px;
    height: 14px;
    margin-right: 11px;
}

.button__ghost {
    border: 1px solid #0052FF;
    background-color: #FFFFFF;
    color: rgba(0, 82, 255, 1);
}

.button__ghost:hover,
.button__ghost:focus {
    background: rgba(230, 238, 255, 1);
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.button__ghost--left-icon {
    text-align: center;
}

.button__ghost--left-icon:hover {
    border-color: transparent;
}

.button__ghost--left-icon .vector-left {
    width: 14px;
    height: 14px;
    margin-right: 11px;
}

.button__ghost--right-icon .vector-left {
    transform: rotate(180deg);
    width: 14px;
    height: 14px;
    margin-left: 11px;
}

.button__ghost--right-icon:hover,
.button__ghost--right-icon:focus {
    border-color: transparent;
}


/* input */

.input {
    padding: 14px 16px;
    border: 1px solid rgba(189, 189, 189, 1);
    border-radius: 4px;
    width: 320px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    box-sizing: border-box;
}

.input:focus,
.input:hover {
    outline: none;
    border: 1px solid #0052FF;
}

.btn-icon {
    display: inline-block;
    position: relative;
}

.btn-icon::before {
    position: absolute;
    top: 16px;
    right: 22px;
    content: "";
    display: block;
    width: 16px;
    height: 18px;
    background-size: 16px 18px;
    background-image: url('./Icons/right-icon.svg');
    background-repeat: no-repeat;
}

.right-icon {
    padding-left: 52px;
}

.btn-icon2 {
    display: inline-block;
    position: relative;
}

.btn-icon2::before {
    position: absolute;
    top: 16px;
    left: 22px;
    content: "";
    display: block;
    width: 16px;
    height: 18px;
    background-size: 16px 18px;
    background-image: url('./Icons/person.svg');
    background-repeat: no-repeat;
}

.left-icon {
    padding-right: 52px;
}


/* Dropdown */

.dropdown {
    position: relative;
    width: 325px;
    height: 232px;
}

.drop-button {
    background: none;
    border: none;
    text-decoration: none;
    position: relative;
    border: 1px solid #0052FF;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    width: 325px;
    height: 54px;
    color: rgba(0, 82, 255, 1);
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 23px;
    padding-right: 50px;
    cursor: pointer;
}

.drop-button:focus {
    outline: none;
}

.down {
    height: 54px;
    width: 325px;
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    display: block;
    text-decoration: none;
    color: rgba(0, 25, 76, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 16px 271px 16px 24px;
    border: 1px solid rgba(0, 82, 255, 0.08);
}

.drop-button span {
    position: absolute;
    height: 6px;
    width: 12px;
    right: 23px;
    top: 16px;
}

.dropdown-content {
    background: #C4C4C4;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
    margin-top: 16px;
}

.down1 {
    border-radius: 4px 4px 0px 0px;
}

.down2 {
    border-radius: 0px;
}

.down3 {
    border-radius: 0px 0px 4px 4px;
}


/* 
    checkbox 
*/

.checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid #0052FF;
    border-radius: 4px;
    background-color: #FFFFFF;
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.checkbox span {
    width: 100%;
    display: none;
    position: absolute;
    line-height: 23px;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.checkbox input:checked+span {
    display: block;
    background-color: blue;
}

.radio {
    margin: 40px;
    margin-left: 0px;
    position: relative;
    background-color: #fff;
    border: 2px solid #0052FF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.radio input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.radio input:checked+span {
    position: absolute;
    width: 14px;
    height: 14px;
    display: block;
    background-color: #0052FF;
    border-radius: 50%;
    /* left: 3px;
    top: 3px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.switch {
    position: relative;
    height: 28px;
    width: 48px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #fff;
}

.switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

.switch span {
    width: 24px;
    height: 24px;
    background: #E6EEFF;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.switch input:checked+span {
    right: 1px;
    left: auto;
    background-color: #0052FF;
}