$Secondary: rgb(254, 149, 38);
$Primary: rgb(0, 82, 255);
$Alert: rgb(255, 203, 47);
$Success:rgb(83, 216, 106);
$Error: rgb(255, 52, 52);
$BottomBorder: inset 0px -1px 0px #EAEAEA;
$BottomLevel1: inset 0px 1px 0px #EAEAEA;
$BottomLevel2: 0px 2px 10px rgba(25, 1, 52, 0.12);
$TopBorder: 0px -2px 10px rgba(25, 1, 52, 0.12);
$TopLevel1: 0px 4px 10px rgba(1, 21, 52, 0.16);
$TopLevel2: 0px -4px 10px rgba(25, 1, 52, 0.16);
$ShadowColor: #F2F2F2;
$textColor: #00194C;
$textInter: "Inter";
$textSF: "SF Pro Display";
body {
    padding: 50px;
}

* {
    box-sizing: border-box;
}


/* text */

.inter {
    font-family: $textInter;
    font-style: normal;
    display: flex;
    align-items: center;
    color: $textColor;
    font-weight: 600;
}

.sf {
    font-family: $textSF;
    font-style: normal;
    display: flex;
    align-items: center;
    color: $textColor;
    font-weight: 600;
}

.p {
    font-family: $textInter;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: left;
    color: $textColor;
}

.typograhpy_h1 {
    width: 540px;
    font-size: 32px;
    line-height: 42px;
}

.typograhpy_h2 {
    width: 540px;
    font-size: 28px;
    line-height: 36px;
}

.typograhpy_h3 {
    width: 540px;
    font-size: 22px;
    line-height: 30px;
}

.typograhpy_h4 {
    width: 540px;
    font-size: 20px;
    line-height: 28px;
}

.typograhpy_h5 {
    width: 540px;
    font-size: 18px;
    line-height: 26px;
}

.typograhpy_h6 {
    width: 540px;
    font-size: 16px;
    line-height: 24px;
}

.typograhpy_p1 {
    width: 540px;
    font-size: 20px;
    line-height: 28px;
}

.typograhpy_p2 {
    width: 540px;
    font-size: 18px;
    line-height: 26px;
}

.typograhpy_p3 {
    width: 540px;
    font-size: 16px;
    line-height: 24px;
}

.typograhpy_p4 {
    width: 540px;
    font-size: 14px;
    line-height: 22px;
}


/* кольори разом з опасіті */

.colors {
    width: 130px;
    height: 130px;
    margin: 20px;
}

.Secondary {
    background: rgba($Secondary, 1);
}

.Primary {
    background: rgba($Primary, 1);
}

.Alert {
    background: rgba($Alert, 1);
}

.Success {
    background: rgba($Success, 1);
}

.Error {
    background: rgba($Error, 1);
}


/* тіні */

.shadow {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background: $ShadowColor;
    margin: 20px;
}

.BottomBorder {
    box-shadow: $BottomBorder;
}

.BottomLevel1 {
    box-shadow: $BottomLevel1;
}

.BottomLevel2 {
    box-shadow: $BottomLevel2;
}

.TopBorder {
    box-shadow: $TopBorder;
}

.TopLevel1 {
    box-shadow: $TopLevel1;
}

.TopLevel2 {
    box-shadow: $TopLevel2;
}

$buttonBackColor:rgba(0, 82, 255, 1);
$buttonColor:#FFFFFF;
$buttonBackColorHover:rgba(77, 134, 255, 1);

/* button */

.button {
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    background: $buttonBackColor;
    color: $buttonColor;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
    font-family: $textInter;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    outline: none;
    &:hover {
        background-color: $buttonBackColorHover;
    }
}

.button__primary--left-icon {
    text-align: center;
}

.button__primary--left-icon .vector-left {
    width: 14px;
    height: 14px;
    margin-right: 11px;
}

$buttonGhostBorder: 1px solid #0052FF;
$buttonGhostBackColor:#FFFFFF;
$buttonGhostColor:rgba(0, 82, 255, 1);
$buttonGhostBackHover:rgba(230, 238, 255, 1);
$buttonGhostBoxShadowHover:0px 4px 10px rgba(1, 21, 52, 0.16);
.button__ghost {
    border: $buttonGhostBorder;
    background-color: $buttonGhostBackColor;
    color: $buttonGhostColor;
    &:hover,
    &:focus {
        background: $buttonGhostBackHover;
        box-shadow: $buttonGhostBoxShadowHover;
    }
}

.button__ghost--left-icon {
    text-align: center;
    &:hover {
        border-color: transparent;
    }
}

.button__ghost--left-icon .vector-left {
    width: 14px;
    height: 14px;
    margin-right: 11px;
}

.button__ghost--right-icon .vector-left {
    transform: rotate(180deg);
    width: 14px;
    height: 14px;
    margin-left: 11px;
    &:hover,
    &:focus {
        border-color: transparent;
    }
}


/* input */

$inputBorder:1px solid rgba(189, 189, 189, 1);
$inputBorderHover:1px solid #0052FF;
.input {
    padding: 14px 16px;
    border: $inputBorder;
    border-radius: 4px;
    width: 320px;
    height: 50px;
    font-family: $textInter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    box-sizing: border-box;
    &:focus,
    &:hover {
        outline: none;
        border: $inputBorderHover;
    }
}

.btn-icon {
    display: inline-block;
    position: relative;
    &::before {
        position: absolute;
        top: 16px;
        right: 22px;
        content: "";
        display: block;
        width: 16px;
        height: 18px;
        background-size: 16px 18px;
        background-image: url('./Icons/right-icon.svg');
        background-repeat: no-repeat;
    }
}

.right-icon {
    padding-left: 52px;
}

.btn-icon2 {
    display: inline-block;
    position: relative;
    &::before {
        position: absolute;
        top: 16px;
        left: 22px;
        content: "";
        display: block;
        width: 16px;
        height: 18px;
        background-size: 16px 18px;
        background-image: url('./Icons/person.svg');
        background-repeat: no-repeat;
    }
}

.left-icon {
    padding-right: 52px;
}


/* Dropdown */

$dropButtonBorder:1px solid #0052FF;
$dropButtonColor:#0052FF;
$dropButtonBackground: #FFFFFF;
$dropDownTextColor:rgba(0,
25,
76,
1);
$dropDownBorder:1px solid rgba(0,
82,
255,
0.08);
$dropDownContentBack:#C4C4C4;
$dropDownContentShadow:0px 4px 10px rgba(1,
21,
52,
0.16);
.dropdown {
    position: relative;
    width: 325px;
    height: 232px;
}

.drop-button {
    text-decoration: none;
    position: relative;
    border: $dropButtonBorder;
    box-sizing: border-box;
    border-radius: 4px;
    background: $dropButtonBackground;
    width: 325px;
    height: 54px;
    color: $dropButtonColor;
    font-family: $textInter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 23px;
    padding-right: 50px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.down {
    height: 54px;
    width: 325px;
    background: $dropButtonBackground;
    border-radius: 4px 4px 0px 0px;
    display: block;
    text-decoration: none;
    color: $dropDownTextColor;
    font-family: $textInter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 16px 271px 16px 24px;
    border: $dropDownBorder;
}

.drop-button span {
    position: absolute;
    height: 6px;
    width: 12px;
    right: 23px;
    top: 16px;
}

.dropdown-content {
    background: $dropDownContentBack;
    box-shadow: $dropDownContentShadow;
    margin-top: 16px;
}

.down1 {
    border-radius: 4px 4px 0px 0px;
}

.down2 {
    border-radius: 0px;
}

.down3 {
    border-radius: 0px 0px 4px 4px;
}


/* 
    checkbox 
*/

$checkboxBorder:1px solid #0052FF;
$checkboxBackColor:#FFFFFF;
$checkboxInputBackColor:blue;
.checkbox {
    width: 25px;
    height: 25px;
    border: $checkboxBorder;
    border-radius: 4px;
    background-color: $checkboxBackColor;
    position: relative;
    span {
        width: 100%;
        display: none;
        position: absolute;
        line-height: 23px;
        text-align: center;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        &:checked+span {
            display: block;
            background-color: $checkboxInputBackColor;
        }
    }
}

$radioBackColor:#fff;
$radioBorder:2px solid #0052FF;
$radioBackColorChecked:#0052FF;
.radio {
    margin: 40px;
    margin-left: 0px;
    position: relative;
    background-color: $radioBackColor;
    border: $radioBorder;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        &:checked+span {
            position: absolute;
            width: 14px;
            height: 14px;
            display: block;
            background-color: $radioBackColorChecked;
            border-radius: 50%;
            /* left: 3px;
            top: 3px; */
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

$switchBorder:1px solid grey;
$switchBackColor:#fff;
$switchSpanBackColor:#E6EEFF;
$switchInputCheckedBackColor:#0052FF;
.switch {
    position: relative;
    height: 28px;
    width: 48px;
    border: $switchBorder;
    border-radius: 15px;
    background-color: $switchBackColor;
    span {
        width: 24px;
        height: 24px;
        background: $switchSpanBackColor;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        top: 50%;
        left: 1px;
        transform: translateY(-50%);
        transition: all 0.3s;
    }
    input {
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        cursor: pointer;
        &:checked+span {
            right: 1px;
            left: auto;
            background-color: $switchInputCheckedBackColor;
        }
    }
}
